@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
}

.fixed {
    position: sticky;
    top: 0px;
    z-index: 99;
    width: 100%;
}

.header {
    background-image: linear-gradient(145deg, rgb(3, 3, 58), #302e2e);
}


.word-logo {
    a {
        color: white;
        font-family: 'Chomsky', sans-serif;
        font-size: 2.3rem;
        font-weight: 500;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px 9px 150px;
}

.navtabs {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        color: white;
        font-weight: bold;
        padding: 2px 10px 5px 10px;
        border-radius: 20px;

        &:hover {

            background-color: white;
            color: black;
        }
    }
}

.in-out {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 100px;

    button {
        cursor: pointer;
        height: fit-content;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 25px;
        font-weight: bold;
        padding: 4px 10px 6px 10px;

        &:hover {

            background-color: white;
            color: black;
        }

    }
}

//media query for intro


//intro

.intro {
    height: 70vh;
    background-color: white;
    padding: 50px 150px;
    position: relative;
}

.intro-idea {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 17px;
    /*  background: linear-gradient(145deg, #082974, #3f3d3d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: black;
}

.intro-about {
    color: #6E6E73;
    font-weight: 500;
    font-size: 1.2rem;
}

.blog-read {
    position: absolute;
    bottom: 110px;
    font-size: 1.1rem;
    background-color: transparent;
    font-weight: 500;
    border: 1px solid black;
    padding: 3px 15px 6px 15px;
    border-radius: 25px;
    color: black;
    cursor: pointer;

    i {
        margin-left: 4px;
    }

    &:hover {
        background: black;
        color: white;
    }
}


.intro-samples {
    display: flex;
    gap: 20px;
    padding: 20px 150px;
    background-color: #F5F5F7;
    width: 100%;
}

.trend-blog {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}

.trends {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.trend-block {
    color: white;
    width: 380px;
    height: 200px;
    border-radius: 10px;

    background-size: cover;
    position: relative;


    &:nth-child(1) {
        background-image: url(./assets/1.webp);
    }

    &:nth-child(2) {
        background-image: url(./assets/2.webp);
    }

    &:nth-child(3) {
        background-image: url(./assets/3.webp);
    }

    &:nth-child(4) {
        background-image: url(./assets/4.webp);
    }

    &:hover {
        box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
    }

    p {
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: .7rem;
        font-weight: 500;
        padding: 1px 7px 2px 7px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
    }

    button {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 20px;
        padding: 5px 7px;
        background-color: transparent;
        box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
        color: white;
        border: 2px solid white;
        cursor: pointer;

        &:hover {

            background-color: white;
            color: black;
        }
    }

    h2 {
        width: 100%;
        height: 80px;
        border-radius: 0px 0px 20px 20px;
        position: absolute;
        padding: 15px;
        top: 120px;
        left: 0px;
        font-size: 1.1rem;
        background-color: rgba(0, 0, 0, 0.268);
        text-align: justify;
    }
}

.trend-block:nth-child(1) {
    background-color: white;
}

//recent blog
.recent-blog {
    flex-basis: 350px;
}

.re-blog {
    padding: 20px 20px 7px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
    height: fit-content;
    color: black;
    background-color: white;

    /* 
    background: linear-gradient(145deg, black, rgb(60, 59, 59));
 */
    hr {
        border: 1px dotted black;
    }

    h3 {
        font-size: 1.5rem;
        color: black;
    }
}

.recent-block {
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);

    button {
        text-align: left;
        background-color: transparent;
        font-weight: 500;
        color: black;
        border: none;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    padding-bottom:15px;
    margin: 10px 0px;

    h3 {
        font-size: .9rem;
    }

    p {
        width: fit-content;
        margin-top: 2px;
        font-size: .7rem;
        font-weight: 500;
        padding: 1px 7px 2px 7px;
        border: 1px solid royalblue;
        border-radius: 10px;
        background-color: transparent;
        color: royalblue;
    }
}

.recent-block:last-child {
    border: none;
}

.sub-news {
    margin-top: 15px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    background-image: linear-gradient(145deg, rgb(3, 3, 58), #302e2e);
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);


    h2 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 5px 5px 7px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: -10px;

        &:focus {
            border-color: black;
        }
    }

    button {
        margin-top: 13px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid white;
        color: white;
        background-color: transparent;
        padding: 5px 0px 7px;
        font-size: 1rem;
        font-weight: bold;

        &:hover {

            background-color: white;
            color: black;
        }
    }

}

.title {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

//blogs


//
.blog-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    background-color: #F5F5F7;
    padding: 20px 150px;
}

.category {
    background-color: white;
    padding: 10px;
    height: fit-content;
    border-radius: 20px;
}

.cat-title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted black;
}



.cattag-btn,
.active-category {
    border: 1px solid white;
    font-size: 1rem;
    margin: 1px;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
    color: black;
    background-color: transparent;
    width: 100%;
    font-weight: 500;
    text-align: left;
    cursor: pointer;


}

.cattag-btn:hover,
.active-category {
    border: 1px solid rgb(5, 5, 61);
    color: rgb(5, 5, 61);
    background-color: rgba(5, 5, 61, 0.1);
}

.blog-block {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 15px rgba(128, 128, 128, 0.115);
    transition: transform 0.1s ease-out;

    &:hover {
        transform: translateX(-5px);
    }
}

.b-title {
    color: black;
    font-size: 1.5rem;
}

.pub-date {
    color: rgb(5, 5, 61);
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 6px;

}

.b-summary {
    font-size: 1.1rem;
    color: rgb(71, 71, 71);
    margin-bottom: 5px;
}

.opento {
    position: absolute;
    color: royalblue;
    background-color: transparent;
    border: 1px solid royalblue;
    border-radius: 20px;
    padding: 3px 15px 4px 15px;
    font-size: .9rem;
    font-weight: 500;
    bottom: 15px;
    right: 20px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: royalblue;
    }
}

.tag {
    font-size: .7rem;
    font-weight: 500;
    padding: 1px 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
}

//singleblog
.singleblog {
    min-height: 90vh;
    max-height: fit-content;
    background-color: #F5F5F7;
    padding: 20px 150px;
}

.singleblog-container {
    position: relative;
    box-shadow: 0px 2px 15px rgba(128, 128, 128, 0.115);
    border-radius: 20px;
    padding: 20px 50px 50px 20px;
    text-align: justify;
    line-height: 1.7;
    background-color: white;

}

.bs-title {
    font-size: 2.2rem;
}

.bs-date {
    margin-top: -10px;
}

.bs-content {

    font-size: 1.2rem;
    margin-bottom: 20px;
}

.backto {
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.edit {
    color: black;
    border: 1px solid black;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}

.backto {
    font-size: .9rem;
    background-color: transparent;
    color: royalblue;
    font-weight: 500;
    border: 1px solid royalblue;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: royalblue;
        color: white;
    }
}

//write
.write-container {
    h1 {
        text-align: center;
    }
}

.form,
.edit-form {
    h1 {
        text-align: center;
    }

    label {
        display: inline-block;
        width: 80px;
        margin-bottom: 2px;
        font-size: 1.2rem;
        font-weight: 500;
    }


    input {
        width: 100%;
        padding: 5px 5px 7px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 5px;

        &:focus {
            border-color: black;
        }
    }

    textarea {
        width: 550px;
        height: 300px;
        resize: none;
        outline: none;
        padding: 7px 9px 7px;
        border: 1px solid black;
        color: black;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0px;
    }

    //select

    select {
        width: 100%;
        padding: 5px 5px 7px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        cursor: pointer;
        outline: none;

        option {
            font-size: 1rem;
            background-color: #fff;
            color: black;
            padding: 1px;
        }
    }

    button {
        width: 100%;
        padding: 2px;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        background-color: white;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
        }
    }

}


.write {
    display: flex;
    justify-content: center;
    min-height: 81.4vh;
    max-height: fit-content;
}

footer {
    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }

    }

    p {
        padding: 5px 0px;
        background-image: linear-gradient(145deg, rgb(3, 3, 58), #302e2e);
        font-weight: 500;
        color: white;
        text-align: center;
    }
}

//edit 
.edit-blog-container {
    min-height:87.5vh ;
    h1{
        text-align: center;
    }
}

.edit-container {
    display: flex;
    justify-content: center;

}

//community
.community {
    min-height: 81.8vh;
    margin: 20px 150px;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        background-image: linear-gradient(145deg, rgb(3, 3, 58), #302e2e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2,
    p {
        text-align: center;
    }

    h4,
    ul {
        color: grey;
    }

    section {
        display: flex;
        justify-content: center;
    }

    ul {
        text-align: left;
        line-height: 2;
    }

    article {
        background-color: red;
        width: 100px;
        height: 100px;
    }

    strong {
        color: black;
    }
}

.word {
    font-family: 'Chomsky', sans-serif;
    font-weight: 500;
    font-size: 4rem;
}


// Media Queries

// Small devices (phones, 600px and down)

// Medium devices (tablets, 600px - 1024px)
@media (min-width: 601px) and (max-width: 1024px) {}

// Large devices (desktops, 1024px - 1440px)
@media (min-width: 1024px) and (max-width: 1430px) {

    //header
    .word-logo {
        a {
            font-size: 1.7rem;
        }
    }

    .navtabs,
    .in-out {
        font-size: .9rem;
    }

    .intro {
        height: 50vh;
        padding: 20px 40px;
    }

    .intro-idea {
        font-size: 2rem;
    }

    .intro-about {
        font-size: 1rem;
    }

    .blog-read {
        bottom: 40px;
        font-size: 1rem;
    }

    .intro-samples {
        flex-direction: column;
        padding: 20px 50px;
    }

    .trend-block {
        width: 430px;

    }

    .recent-blog {
        display: flex;
        gap: 10px;

        .re-blog {
            width: 550px;
        }

        .sub-news {
            width: 400px;
            margin-top: 0px;
            height: fit-content;
        }
    }

    //blog
    .blog-container {
        padding: 20px 50px;
    }

    .b-title {
        font-size: 1.5rem;
    }

    .pub-date {

        font-size: .7rem;

    }

    .b-summary {
        font-size: .9rem;
    }

    .cattag-btn,
    .active-category {
        font-size: .9rem;
    }

    .opento {
        padding: 3px 10px 4px 10px;
        font-size: .7rem;
    }

    //single blog

    .bs-title {
        font-size: 2rem;
        line-height: 1.3;
    }

    .bs-date {
        margin-top: 0px;
    }

    .bs-content {

        font-size: 1.1rem;
        margin-bottom: 10px;
    }
}